body,
html {
    margin: 0;
    padding: 0;
}

#header {
    height: 150px;
    background-color: lightcoral;
    text-align: center;
    display: table;
    border-bottom: 6px solid lightslategray;
}

#headerTitleText {
    font-size: 60px;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

.col-6 {
    text-align: center;
}

#body-content {
    background-color: whitesmoke;
}

.employee-container {
    position: relative;
    text-align: center;
    width: 200px;
    height: 400px;
    background-color: rgb(104, 104, 189);
}

.employee-header{}